
.container{
    background-color: #b3d4fc;
    height: 780px;
    background-size: 100%;
    border-bottom: 10px solid #000;
    padding-top: 120px;
    
    
}
   
.container .wrapper {
    display: flex;
    flex-direction:column;
    width: 230px;
    margin-left: 100px; 
    

}

.container .cb-courses-full {
    display: flex;

}

