.container{
    background-color: #005599;
    height: 780px;
    background-size: 100%;
    border-bottom: 10px solid #000;
    padding-top: 120px;
    padding-left:120px
}
    

.container .wrapper {
    display: flex;
    flex-direction: column;
    width: 230px;
    
}

